body {

	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #333;
}

a {

	&:link, &:visited {

		text-decoration: none;
	}

	&:hover, &:active {
	
		text-decoration: underline;
	} 
}

strong {

	font-weight: 700;
}
