.home {

	.banner {

	    background-color: #344f6f;
	}

	.featured-work {

		padding: 4rem 0;
		color: #666;
	}

	.widgets {

		padding: 35px 0;
		background-color: #666;
		color: #fff;

		.widget {

			background-color: #222;
			line-height: 24px;
			padding: 15px;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {

					&:not(:last-of-type) {

						border-bottom: 1px solid rgba(255, 255, 255, .15);
					}

					a {
						&:link, &:visited {
							display: block;
							color: #fff;
							padding: 15px;
							transition: all .15s ease-in-out;
						}

						&:hover, &:active {
							background-color: rgba(255, 255, 255, .05);
							text-decoration: none;
						}
					}

					h6 {
						color: #92acd1;
					}
				}
			}

			.twitter-user, .twitter-hashtag {
				color: #92acd1;
			}

			a {
				&:link, &:visited {
					color: #92acd1;
				}

				&:hover, &:active {
					text-decoration: underline;
				}
			}
		}
	}
}
