.services {

	section {

		border-bottom: 1px solid #fff;

		&.consulting, &.design, &.development, &.managed-services {
			display: flex;
			align-items: center;
		}

		&.consulting {
			background-color: #91abd0;
			color: #062b46;

			hr {
				border-color: rgba(255, 255, 255, .25);
			}
		}

		&.design {
			background-color: #eee;

			hr {
				border-color: rgba(0, 0, 0, .25);
			}
		}

		&.development {
			background-color: #062b46;
			color: #fff;

			hr {
				border-color: rgba(255, 255, 255, .25);
			}
		}

		&.managed-services {
			background-color: $blue;
			color: #fff;

			hr {
				border-color: rgba(255, 255, 255, .25);
			}
		}

		.content {
			padding: 4rem 6rem;
			text-align: center;
		}

		img {
			width: 100%;
		}
	}
}
