body {

	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #333;
	margin: 0;
}

a {

	&:link, &:visited {

		text-decoration: none;
	}

	&:hover, &:active {
	
		text-decoration: underline;
	} 
}

.icon-16x16 {

	width: 16px;
	height: 16px;
	display: inline-block;
}

.icon-32x32 {

	width: 32px;
	height: 32px;
	display: inline-block;
}

.icon-48x48 {

	width: 48px;
	height: 48px;
	display: inline-block;
}

.icon-64x64 {

	width: 64px;
	height: 64px;
	display: inline-block;
}
