main {

	.banner {

		padding: 1rem 0;
		background-color: #344f6f;

		h1 {
			margin: 0;
			color: #fff;
			line-height: 75px;
		}
	}

	article {

		min-height: 20rem;
		padding: 2rem 0;
	}
}

@media (max-width: 991px) {

	main {

		margin-top: 60px;
	}

}
