.page, .error404 {

	main {

		padding-bottom: 2rem;

		.banner {

			background-color: #344f6f;
			margin-bottom: 2rem;

			.title {
				margin: 0;
				padding: 1rem 0;
			}
		}

		article {

			min-height: 20rem;
		}
	}
}

@media (max-width: 991px) {

	.page, .error404 {

		main {

			margin-top: 60px;
		}

	}

}
