.carousel {
  height: 375px;
  text-align: center; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item {
      margin-top: 5rem; }
      .carousel .carousel-inner .carousel-item h1 {
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 1rem; }
      .carousel .carousel-inner .carousel-item h4 {
        color: rgba(255, 255, 255, 0.45);
        text-transform: uppercase; }
  .carousel .carousel-control-next, .carousel .carousel-control-prev {
    width: 10%; }
    .carousel .carousel-control-next .carousel-control-next-icon, .carousel .carousel-control-next .carousel-control-prev-icon, .carousel .carousel-control-prev .carousel-control-next-icon, .carousel .carousel-control-prev .carousel-control-prev-icon {
      width: 40px;
      height: 40px; }
